# Python 3.12 required
langchain
langchain-groq
fastapi
sqlalchemy
pydantic-settings
psycopg2-binary
faker
langchain-community
langchain-text-splitters
pinecone
pytest
uvicorn
email-validator
alembic
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
slowapi
fastembed
jinja2