langchain
langchain-groq
fastapi
sqlalchemy
pydantic-settings
psycopg2-binary
faker
langchain-community
sentence-transformers
langchain-text-splitters
pinecone
pytest
uvicorn
email-validator
alembic
python-jose[cryptography]
passlib[bcrypt]
bcrypt
slowapi